{% extends "base.html" %}

{% block page_title %}
Search
{% endblock page_title %}
`
{% endblock search-bar %}

{% block content %}
    <h2>Search!</h2>

    <form method="get" action="{% url "photos:search" %}">
    <div>
        <label for="cat_name">Cat</label>
        <input value="{{cat_name}}" id="cat_name" name="cat_name" placeholder="Search Cat" />
    </div>
    </form>

    <h3>Results</h3>
    {% for cat in photo1 %}
        <h3>{{cat.cat_name}}</h3>
    {% endfor %}

{% endblock content %}